body {
  margin: 0;
}

/* media queries */

@media (min-width: 1440px) and (max-width: 1740px) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: 1740px) and (max-width: 2040px) {
  html {
    font-size: 1.3rem;
  }
}

@media (min-width: 2040px) and (max-width: 2340px) {
  html {
    font-size: 1.5rem;
  }
}

@media (min-width: 2340px) and (max-width: 2640px) {
  html {
    font-size: 1.7rem;
  }
}
