.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.body {
  flex: 1;
  display: flex;
  overflow: hidden;
}


.content {
  flex: 1;
  padding: 25px;
  background-color: #f8f9fb;
  overflow-y: auto;
}
